@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-1:#0f1016;
    --text-color:#A45848;
    --accent-color:#8bb4ed;
    --backgound-color: #EADED2;
    --header-bg-color:#EFECE8;
}
*{
    color: #A45848;
    margin: 0;
    padding: 0;
}
html{
    background-color: #EADED2;
    font-size: 12pt;
    font-family: roboto, segeo UI,sans-serif;
    line-height: 1.5;
}
body{
    padding-bottom: 60px;
}
nav{
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 10px;
    display:flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}
.social-link{
    display:flex;
}
nav a:hover{
    background-color: var(--accent-color);
}
.home{
margin-right:auto;
}
nav .active-link{
    text-decoration: underline;
}
nav svg{
    fill:var(--text-color)
}
#sidebar-active{
    display:none;
}
.open-sidebar, .close-sidebar{
    display:none;
}
@media(max-width: 540px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 250px;
        background-color: #0f1016;
        box-shadow:  -5px 0 5px rgba(0, 0, 0, .5);
        transition: .75s ease-out;
    }
    nav a.pagelink , .active-link{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    
    .open-sidebar, .close-sidebar{
        padding: 20px;
        display:block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top:0;
        left:0;
        z-index: 9;
    }
}
.center{
    
    width: min(750px, 90%);
    max-width: 750px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #EFECE8;
}
header div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    margin: 40px;
}
h2{
    padding: 20px;
}
h3 ,h1{
    text-decoration: underline;
    text-align: center;
    padding-bottom: 20px;
}
div.list{
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    text-align: center;
}
p{
    padding: 10px;
}
div.projects img{
    padding: 10px;
    max-width: 100%;
}
.skills{
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: #0f1016;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}